/* CSS*/
@charset "utf-8";
*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Rubik',sans-serif;
    background: #111;

}
h1,h3{
    font-weight: 400;
}
.header{
    width: 1170px;
    margin: auto;
}



.main{
    
    min-height: 145vh;
    background: url("IMAGES/image1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color:#fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
}
.main::before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    z-index:0;
}
.logo img{
    width: 80px;
    float : left;
    padding-left: 1%;
    padding-top: 1%;
    border-radius: 50%;
   }
   .head1 h1{
       background: linear-gradient(aqua,pink);
       font-weight: 500;
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       animation:animate 3s linear infinite;
       float: left;
       margin-right: 100px;
       
       
   }
   @keyframes animate
   {
       0%
       {
           
           filter : blur;
           text-shadow:0 0 1px aqua ;
       }
   }
   
.container{
    position:absolute;
    top:0;
    left:0;
    
    width:80% ;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding:15em 10em 4em 8em;

    /*padding: 15em 10em 4em 3em;*/
   

}
.container > div {
    display : flex;
    justify-content: center;
    align-items: center;
}
.city-time,
.temp,
.weather-icon{
    margin:0 2em;
}
.city-time h1{
    margin: 2px;;
    margin-bottom:0.3em;
    font-size: 3em;
}


.temp {
    font-size: 7em;
    background: -webkit-linear-gradient(pink,white);
  -webkit-background-clip: text;
  
  -webkit-text-fill-color: transparent;
    margin:0;
}

 .weather-icon img{
    display:block;
    margin:0.5em 0;
    
 }
 .panel{
    position: absolute;
    width:30%;
    height:76%;
    top:0;
    right:0;
    background: rgba(110,110,110,0.25);
    box-shadow: 0 8px 32px 0
              rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid
            rgba(255,255,255,0.18);
    z-index:1;
    padding:3em 2em;
          
 }
 
 .panel form{
    margin-bottom:3em;
 }
.submit{
    position:absolute;
    top:0;
    right:0;
    padding:1.5em;
    margin:0;
    border:none;
    outline:none;
    
    color:linear-gradient(#ff1b69,#ff0,#2196f3,#9c27b0,#ff1b69);
    cursor:pointer;
    
    font-size:1.2em;
    transition: 0.4s;
    
}
.submit:hover{
    background:#fff !important;
    color:#000;
}
.search{
    background: none;
    border:none;
    border-bottom: 4px solid ;
    border-image:linear-gradient(90deg,#ff1b69,#ff0,#2196f3,#9c27b0,#ff1b69)1;
    
    animation: animate 2s linear infinite;
    padding:0 1em 0.5em 0;
    width:90%;
    color:#fff;
    font-size: 1.1em;
    
}
@keyframes animate
{
    0%
    {
        background-position-x:0 ;
    }
    100%
    {
        background-position-x:0 ;
    }
}
.search:focus {
    outline:none;

}
.search::placeholder{
    color:white;
    letter-spacing:0.1em;
    
    
   


}

    

.panel ul  {
    padding:0 0 1em 0;
    margin: 2em 0;
  

}
.cities{
    border-bottom:1px #ccc solid;
}
.panel li{

    color:#CCC;
    margin:2.5em 0;
}
.panel ul h4{
    margin:3em 0;
}
.city{
    display:block;
    cursor:pointer;
}
.city:hover{
    color:#fff;
}
.weatherdetails li{
    display:flex;
    justify-content: space-between;
    align-items:center;
}



.forecstD{
    margin: 300px 50px;
    color: aliceblue;
}
.weekF{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:0 0 1em 0;
    margin: 0px -40px 0px 200px;
    
}
.cast-header{
    color: aliceblue;
    
    padding: 0px 100px 10px 200px;
    
    font-size: 20px;
  
}
.date{
   margin: 0em 2em 0em 0em;
}

.time,.date{
    color: rgb(254, 189, 132);
    
}
.desc{
    color: rgb(196, 255, 77);
}
.panel1{
    background: rgba(110,110,110,0.25);
    box-shadow: 0 8px 32px 0
              rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid
            rgba(255,255,255,0.18);
    z-index:1;
    width: 1445px;
    height: 210px;
    position:relative;
    right:25%;
}
@media screen and(max-width:800px){
    .panel,.panel1,.container{
        position: relative;
        width:100%;
        top:initial;

    }
}
@media screen and (max-width:500px){
    html{
        font-size:12px;

    }

    
}
